# =========================
# BUILD .NET
# =========================
bin/
obj/

# =========================
# VISUAL STUDIO
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# JETBRAINS RIDER
# =========================
.idea/

# =========================
# LOGS
# =========================
Logs/
logs/
*.log
*.txt

# =========================
# SQLITE
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# APP SETTINGS LOCAL
# =========================
appsettings.Development.json

# =========================
# PUBLISH
# =========================
publish/
dist/

# =========================
# TESTES
# =========================
TestResults/
coverage/

# =========================
# ARQUIVOS PROCESSADOS
# =========================
Entrada/
Saida/
Erro/
Processados/

# =========================
# EXCEL TEMP
# =========================
~$*.xlsx

# =========================
# SISTEMA OPERACIONAL
# =========================
Thumbs.db
.DS_Store